@import '../node_modules/seasketch-reporting-api/stylesheets/common.less';

.rule-of-thumb {
  &:before {
    font-family:'fontello';
    color:'#8C001A';
    content:"\6b";
  }
  &:after {
    content:' Rule of Thumb:';
    font-style:italic;
  }
}
.aquaculture-nutrient-recycling {
  display:none;
}

.aquaculture-biogenic-habitat {
  display:none;
}

.aquaculture-ecosystem-productivity {
	display:none;
}

.single-column{
  text-align:left;
}

.no-data {
  text-align:center;
  font-style:italic;
  margin-top:5px;
}

.in-report-header {
  font-weight:bold;
  padding-left:5px;
  padding-top:10px;
  padding-bottom:3px;
}

.in-report-header >span{
  margin-right:15px;
}