@import '../node_modules/seasketch-reporting-api/stylesheets/common.less';

.aquaculture-nutrient-recycling {
  display:none;
}

.aquaculture-biogenic-habitat {
  display:none;
}

.aquaculture-ecosystem-productivity {
	display:none;
}

.single-column{
  text-align:left;
}

.no-data {
  text-align:center;
  font-style:italic;
  margin-top:5px;
}