{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}


<div class="reportSection tableContainer">
  <h4>Existing Use Conflicts <a href="#" data-toggle-node="52d5af09c03e516417000274" data-visible="false">show layer</a></h4>
    {{#hasProtectionExistingUseConflicts}}
      <p class="large">
        One or more sketches overlap with, or are near, <strong>existing uses</strong> that are in conflict with the purposes of the protection.
      </p>
      <table data-paging="10"> <!-- data-paging... activates paging  -->
        <thead>
          <tr>
            <th class="single-column">Existing Use</th>
          </tr>
        </thead>
        <tbody>
          {{#protectionExistingUses}}
            <tr>
              <td>{{FEAT_TYPE}}</td>
            </tr>
          {{/protectionExistingUses}}
        </tbody>
      </table>
  {{/hasProtectionExistingUseConflicts}}
  {{^hasProtectionExistingUseConflicts}}
    <p class="large">
      <strong>No</strong> protection classes overlap with existing uses.
    </p>
  {{/hasProtectionExistingUseConflicts}}
</div>

<div class="reportSection tableContainer">
  <h4>Recreational Use Conflicts <a href="#" data-toggle-node="52d5a8cbc03e51641700009e" data-visible="false">show layer</a></h4>
    {{#hasProtectionRecreationalUseConflicts}}
      <p class="large">
        One or more sketches overlap, or are in the vicinity of, an area that has been identified as having <strong>recreational value</strong>. 
      </p>
    
      <table data-paging="10"> <!-- data-paging... activates paging  -->
        <thead>
          <tr>
            <th class="single-column">Recreational Use</th>
          </tr>
        </thead>
        <tbody>
          {{#protectionRecreationalUses}}
            <tr>
              <td>{{FEAT_TYPE}}</td>
            </tr>
          {{/protectionRecreationalUses}}
        </tbody>
      </table>
  {{/hasProtectionRecreationalUseConflicts}}
  {{^hasProtectionRecreationalUseConflicts}}
    <p class="large">
      <strong>No</strong> protection classes overlap with recreational uses.
    </p>
  {{/hasProtectionRecreationalUseConflicts}}
</div>

<div class="reportSection tableContainer">
  <h4>Heritage Use Conflicts <a href="#" data-toggle-node="52d5b094c03e5164170003ca" data-visible="false">show layer</a></h4>
    {{#hasProtectionHeritageUses}}
      <p class="large">
        One or more sketches overlap, or are in the vicinity of, an area that has been identified as having <strong>cultural heritage values</strong>.
      </p>
      <table data-paging="10"> <!-- data-paging... activates paging  -->
        <thead>
          <tr>
            <th class="single-column">Heritage Use</th>
          </tr>
        </thead>
        <tbody>
          {{#protectionHeritageUses}}
            <tr>
              <td>{{NAME}}</td>
            </tr>
          {{/protectionHeritageUses}}
        </tbody>
      </table>
  {{/hasProtectionHeritageUses}}
  {{^hasProtectionHeritageUses}}
    <p class="large">
      <strong>No</strong> protection classes overlap with heritage uses.
    </p>
  {{/hasProtectionHeritageUses}}
</div>


  <div class="reportSection">
    <h4>Mooring/Anchorage Area Conflicts</h4>
    {{#hasProtectionOverlapWithMooringsAndAnchorages}}
      <p class="large green-check">
        One more more protection areas overlap with sites that are identified as good for <strong>Mooring and Anchorages</strong>.
      </p>
    {{/hasProtectionOverlapWithMooringsAndAnchorages}}
    {{^hasProtectionOverlapWithMooringsAndAnchorages}}
      <p class="large">
        <strong>No</strong> protection areas overlap with sites that are identified as good for <strong>Mooring and Anchorages</strong>.
      </p>
    {{/hasProtectionOverlapWithMooringsAndAnchorages}}
  </div>


