{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

{{#isCloseToProtectedAreas}}
<div class="reportSection tableContainer">
  <h4>Proximity to Existing Protected Areas</h4>
  <table>
    <thead>
      <tr>
        <th>Aquaculture Zone Name</th>
        <th>Type of Protected Area Impacted</th>
        <th>Likelihood of Impact</th>
      </tr>
    </thead>
    <tbody>
      {{#proximityToProtectedAreas}}
        <tr>
          <td>{{ZoneName}}</td>
          <td>{{NEAR_TYPE}}</td>
          <td>{{THRESHOLD}}</td>
        </tr>
      {{/proximityToProtectedAreas}}
    </tbody>
  </table>
</div>
{{/isCloseToProtectedAreas}}

{{^isCloseToProtectedAreas}}
<div class="reportSection">
  <h4>Proximity to Existing Protected Areas</h4>
  <p class="large">
    This zone is <strong>not</strong> within 1 kilometer of any existing protected areas.
  </p>
</div>
{{/isCloseToProtectedAreas}}


{{#hasSensitiveAreas}}
<div class="reportSection tableContainer">
  <h4>Sensitive Habitats</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Hectares Protected</th>
        <th>Percent of Area Protected</th>
      </tr>
    </thead>
    <tbody>
      {{#sensitiveAreas}}
      <tr>
        <td>{{SA_NAME}}</td>
        <td>{{SA_TYPE}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/sensitiveAreas}}
    </tbody>
  </table>
</div>
{{/hasSensitiveAreas}}

{{#hasProtectedMammals}}
<div class="reportSection tableContainer">
  <h4>Protected Mammals</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Number of Protected Mammal Areas</th>

      </tr>
    </thead>
    <tbody>
      {{#protectedMammals}}
      <tr>
        <td>{{Name}}</td>
        <td>--</td>
        <td>{{Count}}</td>
      </tr>
      {{/protectedMammals}}
    </tbody>
  </table>
</div>
{{/hasProtectedMammals}}

{{#hasSeabirdBreedingSites}}
<div class="reportSection tableContainer">

  <h4>Seabirds</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>

        <th>Status</th>

        <th>Number of Breeding Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#seabirdBreedingSites}}
      <tr>
        <td>{{Name}}</td>
        <td>--</td>
        <td>{{Count}}</td>
      </tr>
      {{/seabirdBreedingSites}}
    </tbody>
  </table>
</div>
{{/hasSeabirdBreedingSites}}


{{#hasShorebirdSites}}
<div class="reportSection tableContainer">
  <h4>Shorebird Sites</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Number of Shorebird Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#shorebirdSites}}
      <tr>
        <td>{{Name}}</td>
        <td>--</td>
        <td>{{Count}}</td>
      </tr>
      {{/shorebirdSites}}
    </tbody>
  </table>
</div>
{{/hasShorebirdSites}}

{{^isCollection}}
{{#adjacentProtectedAreas}}
<div class="reportSection">
  <h4>Adjacent Terrestrial Protected Area</h4>
  <p class="large green-check">
    This zone is adjacent to a <strong>Terrestrial Protected Area</strong>.
  </p>
</div>
{{/adjacentProtectedAreas}}
{{/isCollection}}

  <div class="reportSection" class="tableContainer">
    <h4>Ecosystem Services</h4>
      <p>
        Percent overlap of the proposed aquaculture areas for three types of ecosystem services.
      </p>
      <p>
        <select class="aquaculture-chosen">
          {{#aquacultureEcosystemServices}}
          <option value="{{.}}">{{.}}</option>
          {{/aquacultureEcosystemServices}}
        </select>
      </p>
    <div class="aquaculture-nutrient-recycling">
      <table>
        <thead>
          <tr>
            <th style="width:200px;">Nutrient Recycling Value</th>
            <th>Area (Ha)</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
        {{#aquacultureNutrientRecycling}}
          <tr>
            <td>{{Class}}</td>
            <td>{{AreaInHa}}</td>
            <td>{{Percent}}</td>
          </tr>
          {{/aquacultureNutrientRecycling}}
        </tbody>
      </table>
    </div>
    <div class="aquaculture-biogenic-habitat">
      <table>
        <thead>
          <tr>
            <th style="width:200px;">Biogenic Habitat Value</th>
            <th>Area (Ha)</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
          {{#aquacultureBiogenicHabitat}}
          <tr>
            <td>{{Class}}</td>
            <td>{{AreaInHa}}</td>
            <td>{{Percent}}</td>
          </tr>
          {{/aquacultureBiogenicHabitat}}
        </tbody>
      </table>
    </div>
    <div class="aquaculture-ecosystem-productivity">
    <table>
      <thead>
        <tr>
          <th style="width:200px;">Ecosystem Productivity Value</th>
          <th>Area (Ha)</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
      {{#aquacultureEcosystemProductivity}}
        <tr>
          <td>{{Class}}</td>
          <td>{{AreaInHa}}</td>
          <td>{{Percent}}</td>
        </tr>
        {{/aquacultureEcosystemProductivity}}
      </tbody>
    </table>
    </div>
  </div>
