{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}}</h4>
  {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}
<div class="reportSection tableContainer">
  <h4>Aquaculture</h4>
  <table>
    <thead>
      <tr>
        <th style="text-align:center;width:200px;">Aquaculture Type</th>
        <th>Total area in existing aquaculture (ha)</th>
        <th>Total area in new aquaculture zones (ha)</th>
      </tr>
    </thead>
    <tbody>
      {{#aquacultureSizes}}
        <tr>
          <td>{{AC_TYPE}}</td>
          <td>{{HA_EXST}}</td>
          <td>{{HA_NEW}}</td>
        </tr>
      {{/aquacultureSizes}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="paragraph" style="text-align:left;">
          <p class="large">
            {{#isCollection}}
            New and existing aquaculture zones are
            {{/isCollection}}
            {{^isCollection}}
            This aquaculture zone is
            {{/isCollection}}
            <strong>{{totalSize}}</strong> hectares.
          </p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
{{#hasProximity}}
<div class="reportSection tableContainer">
  <h4>Proximity to Existing Aquaculture</h4>
  <table>
    <thead>
      <tr>
        <th style="width:250px;">Aquaculture Zone Name</th>
        <th>Distance to Nearest Existing Aquaculture Area (m)</th>
      </tr>
    </thead>
    <tbody>
      {{#aquacultureProximity}}
        <tr>
          <td>{{Name}}</td>
          <td>{{DistInM}}</td>
        </tr>
      {{/aquacultureProximity}}
    </tbody>
  </table>
</div>
{{/hasProximity}}
{{^hasProximity}}
<div class="reportSection">
  <h4>Proximity to Existing Aquaculture</h4>
  <p class="large">
    This zone is <strong>not</strong> within 100 meters of any existing aquaculture areas.
  </p>
</div>
{{/hasProximity}}
