{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection tableContainer">
  <h4>Existing Uses</h4>
    {{#hasAquacultureAllExistingUses}}
      <p class="large">
        <strong>Your sketch overlaps, or is close to, identified existing uses.</strong>
      </p>
      <table data-paging="10">
        <thead>
          <tr>
            <th class="single-column">Existing Use</th>
          </tr>
        </thead>
        <tbody>
          {{#aquacultureAllExistingUses}}
            <tr>
              <td>{{FEAT_TYPE}}</td>
            </tr>
          {{/aquacultureAllExistingUses}}
        </tbody>
      </table>
  {{/hasAquacultureAllExistingUses}}
  {{^hasAquacultureAllExistingUses}}
      <p class="large">
        <strong>No</strong> aquaculture areas overlap with existing uses.
      </p>
  {{/hasAquacultureAllExistingUses}}
</div>

  <div class="reportSection tableContainer">
    <h4>Heritage Values <a href="#" data-toggle-node="52d5b094c03e5164170003ca" data-visible="false">show layer</a></h4>
      {{#hasAquacultureHeritageUses}}
        <p class="large">
          <strong>One or more sketches overlap, or are in the vicinity of, an area that has been identified as having cultural heritage values</strong>.
        </p>
        <table data-paging="10"> 
          <thead>
            <tr>
              <th>Heritage Value</th>
              <th>Number of Sites</th>
            </tr>
          </thead>
          <tbody>
            {{#hasAquacultureShipwrecks}}
              <tr>
                <td>Shipwrecks</td>
                <td>{{aquacultureNumShipwrecks}}</td>
              </tr>
            {{/hasAquacultureShipwrecks}}
            {{#hasAquacultureHistoricPlaces}}
              <tr>
                <td>Historic Places</td>
                <td>{{aquacultureNumHistoricPlaces}}</td>
              </tr>
            {{/hasAquacultureHistoricPlaces}}
            {{#hasAquacultureArcheologicalSites}}
              <tr>
                <td>Archeological Sites</td>
                <td>{{aquacultureNumArcheologicalSites}}</td>
              </tr>
            {{/hasAquacultureArcheologicalSites}}
          </tbody>
        </table>
    {{/hasAquacultureHeritageUses}}
    {{^hasAquacultureHeritageUses}}
      <p class="large">
        <strong>No</strong> aquaculture areas overlap with heritage areas identified as having <strong>cultural heritage values</strong>.
      </p>
    {{/hasAquacultureHeritageUses}}
  </div>

{{#hasAquacultureOverlapWithMooringsAndAnchorages}}
  <div class="reportSection">
    <h4>Mooring and Anchorage Areas <a href="#" data-toggle-node="53191afaeb1fe0ac0d0b2027">show layer</a></h4>
        <p class="large green-check">
          <strong>One more more aquaculture areas overlap with sites that are identified as good for Mooring and Anchorages</strong>.
        </p>
  </div>
{{/hasAquacultureOverlapWithMooringsAndAnchorages}}
<!--
  <div class="reportSection tableContainer">
    <h4>Recreational Uses</h4>
      {{#hasAquacultureRecreationalUseConflicts}}
        <p class="large">
          <strong>One or more sketches overlap, or are in the vicinity of, an area that has been identified as having recreational value</strong>. 
        </p>
        <table data-paging="10"> <!-- data-paging... activates paging  -->
          <thead>
            <tr>
              <th class="single-column">Recreational Use</th>
            </tr>
          </thead>
          <tbody>
            {{#aquacultureRecreationalUses}}
              <tr>
                <td>{{FEAT_TYPE}}</td>
              </tr>
            {{/aquacultureRecreationalUses}}
          </tbody>
        </table>
      {{/hasAquacultureRecreationalUseConflicts}}
    {{^hasAquacultureRecreationalUseConflicts}}
      <p class="large">
        <strong>No</strong> aquaculture areas overlap with recreational uses.
      </p>
    {{/hasAquacultureRecreationalUseConflicts}}
  </div>
-->



