{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

{{#hasAquacultureExistingUseConflicts}}
  <div class="reportSection tableContainer">
    <h4>Existing Use Conflicts</h4>
      {{#hasAquacultureExistingUseConflicts}}
        <p class="large">
          One or more aquaculture areas overlap with, or are near, <strong>existing uses</strong>.
        </p>
      {{/hasAquacultureExistingUseConflicts}}
    <table data-paging="10"> <!-- data-paging... activates paging  -->
      <thead>
        <tr>
          <th>Existing Use</th>
          <th>Is Compatible</th>
        </tr>
      </thead>
      <tbody>
        {{#aquacultureExistingUses}}
          <tr>
            <td>{{FEAT_TYPE}}</td>
            <td>--</td>
          </tr>
        {{/aquacultureExistingUses}}
      </tbody>
    </table>
  </div>
{{/hasAquacultureExistingUseConflicts}}
{{^hasAquacultureExistingUseConflicts}}
  <div class="reportSection">
    <h4>Existing Use Conflicts</h4>
        <p class="large">
          <strong>No</strong> aquaculture areas overlap with existing uses.
        </p>
  </div> 
{{/hasAquacultureExistingUseConflicts}}

{{#hasAquacultureRecreationalUseConflicts}}
  <div class="reportSection tableContainer">
    <h4>Overlap with Recreational Uses</h4>
      {{#hasAquacultureRecreationalUseConflicts}}
        <p class="large">
          One or more aquaculture areas overlap with, or are near, <strong>recreational uses</strong> that may be in conflict with the purposes of the protection.
        </p>
      {{/hasAquacultureRecreationalUseConflicts}}
    <table data-paging="10"> <!-- data-paging... activates paging  -->
      <thead>
        <tr>
          <th>Recreational Use</th>
          <th>Is Compatible</th>
        </tr>
      </thead>
      <tbody>
        {{#aquacultureRecreationalUses}}
          <tr>
            <td>{{FEAT_TYPE}}</td>
            <td>--</td>
          </tr>
        {{/aquacultureRecreationalUses}}
      </tbody>
    </table>
  </div>
{{/hasAquacultureRecreationalUseConflicts}}
{{^hasAquacultureRecreationalUseConflicts}}
  <div class="reportSection">
    <h4>Overlap with Recreational Uses</h4>
        <p class="large">
          <strong>No</strong> aquaculture areas overlap with recreational uses.
        </p>
  </div> 
{{/hasAquacultureRecreationalUseConflicts}}

{{#hasAquacultureOverlapWithMooringsAndAnchorages}}
  <div class="reportSection">
    <h4>Overlaps with Mooring and Anchorage Areas</h4>
      <p class="large green-check">
        One more more aquaculture areas overlap with sites that are identified as good for <strong>Mooring and Anchorages</strong>.
      </p>
  </div>
{{/hasAquacultureOverlapWithMooringsAndAnchorages}}
{{^hasAquacultureOverlapWithMooringsAndAnchorages}}
  <div class="reportSection">
    <h4>Overlaps with Mooring and Anchorage Areas</h4>
      <p>
        <strong>No</strong> aquaculture areas overlap with sites that are identified as good for <strong>Mooring and Anchorages</strong>.
      </p>
  </div>
{{/hasAquacultureOverlapWithMooringsAndAnchorages}}

