{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#anyAttributes}}
  <div class="reportSection">
    <h4>{{sketchClass.name}}</h4>
    <table class="attributes">
    <tbody>
      <tr>
        <td class="name">Zone Type</td>
        <td class="value">{{sketchClass.name}}</td>
      </tr>
    </tbody>
    </table>
  </div>
{{/anyAttributes}}
{{#hasProtection}}
  <div class="reportSection size">
    <h4>Size</h4>
        <p class="large" style="margin-left:10px;">
          The average size of the <strong>{{NUM_PROTECTED}}</strong> protected 
          area{{#hasMultipleProtectionSketches}}s{{/hasMultipleProtectionSketches}} is <strong>{{SIZE}} ha</strong>.
          {{#hasProtection}}
          The selected network contains <strong>{{MARINE_RESERVES}} Marine
          Reserve{{#MARINE_RESERVES_PLURAL}}s{{/MARINE_RESERVES_PLURAL}}</strong> and 
          <strong>{{TYPE_TWO_MPAS}} Type 2 Protection Area{{#TYPE_TWO_MPAS_PLURAL}}s{{/TYPE_TWO_MPAS_PLURAL}}</strong>.
          {{/hasProtection}}
          {{#hasAquaculture}}        
          The selected network {{#hasProtection}}also{{/hasProtection}} contains <strong>{{numAquacultureSketches}} Aquaculture Zone{{#hasMultipleAquacultureSketches}}s{{/hasMultipleAquacultureSketches}}.</strong>
          {{/hasAquaculture}}
        </p>
        <p style="margin-left:10px;">
          Read more information on <a href="http://www.doc.govt.nz/publications/conservation/marine-and-coastal/marine-protected-areas/marine-protected-areas-classification-protection-standard-and-implementation-guidelines" target="_blank"> the Marine Protected Area Policy and Implementation Guidelines.</a> In general, for the same amount of area to be protected, it is desirable to protect fewer, larger areas rather than numerous smaller ones.
        </p>
  </div>

  {{#hasWarnings}}
    <div class="reportSection size">
      <h4>Warning <a href="#" data-toggle-node="52d5afebc03e516417000321" data-visible="false">show layer</a></h4>
        <p class="large yellow-warn" style="padding-left:50px;padding-right:20px;">
          {{#hasMultipleProtectionSketches}}One or more sketches are {{/hasMultipleProtectionSketches}}{{^hasMultipleProtectionSketches}}A sketch is {{/hasMultipleProtectionSketches}}
          placed over {{warnings}}. These areas are unlikely to be consistent with a marine reserve.
        </p>
    </div>
{{/hasWarnings}}
{{/hasProtection}}
{{#hasAquacultureOnly}}
  <div class="reportSection">
    <h4>Overview</h4>
      The selected network contains <strong>{{numAquacultureSketches}} Aquaculture Zones.</strong>
  </div>
{{/hasAquacultureOnly}}
{{#hasProtection}}
  {{#d3IsPresent}}
    <div class="reportSection tableContainer">
      <h4>Representation of Habitats</h4>
      <div class="large-header">Habitats Protected in <strong>Marine Reserves</strong>:</div>
      <div class="viz" style="position:relative;"></div>
      <div class="large-header">Habitats Protected in <strong>Type-2 Protected Areas</strong>:</div>
      <div class="viz" style="position:relative;margin-bottom:40px;"></div>
      <p style="margin-left:10px;">
        Of the <strong>62</strong> habitats present in the project area, <strong>{{HAB_COUNT_COMBINED}}</strong> of the habitats are afforded
        protection in a marine reserve and <strong>{{HAB_COUNT_COMBINED_T2}}</strong> are protected in a Type II Marine Protected Area.
      </p>
    </div>
  {{/d3IsPresent}}
  {{^d3IsPresent}}
    <div class="reportSection tableContainer">
    <h4>Representation of Habitats</h4>
    <table data-paging="10"> <!-- data-paging... activates paging  -->
      <thead>
        <tr>
          <th style="width:180px;"></th>
          <th>Existing Protected Areas</th>
          <th>Proposed Areas</th>
          <th>Combined Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Habitats Protected in Marine Reserves</td>
          <td>{{HAB_COUNT_EXISTING}}</td>
          <td>{{HAB_COUNT_PROPOSED}}</td>
          <td>{{HAB_COUNT_COMBINED}}</td>
        </tr>
        <tr>
          <td>Number of Habitats Protected in Type 2 Protected Areas</td>
          <td>{{HAB_COUNT_EXISTING_T2}}</td>
          <td>{{HAB_COUNT_PROPOSED_T2}}</td>
          <td>{{HAB_COUNT_COMBINED_T2}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="paragraph" style="text-align:left;">
            <p style="margin-left:10px;">
              Of the <strong>62</strong> habitats present in the project area, <strong>{{HAB_COUNT_COMBINED}}</strong> of the habitats are afforded
              protection in a marine reserve and <strong>{{HAB_COUNT_COMBINED_T2}}</strong> are protected in a Type II Marine Protected Area.
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
    </div>
  {{/d3IsPresent}}
  <div class="reportSection tableContainer">
    <h4>Percent of Hauraki Gulf Marine Park Protected</h4>
    {{#d3IsPresent}}
      <div class="large-header">Percent of Hauraki Gulf Protected in <strong>Marine Reserves</strong>:</div>
      <div class="viz" style="position:relative;"></div>
      <div class="large-header">Percent of Hauraki Gulf Protected in <strong>Type-2 Protected Areas</strong>:</div>
      <div class="viz" style="position:relative;margin-bottom:40px;"></div>
      <p style="margin-left:10px;">This table shows how ‘comprehensive’ the proposed protections are. 
        Proposed and existing plans protect the percentages shown. NOTE: bars go to 30% to improve readability at low values.
      </p>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
    <table data-paging="10"> <!-- data-paging... activates paging  -->
      <thead>
        <tr>
          <th style="width:180px;"></th>
          <th>Existing Protected Areas (%)</th>
          <th>Proposed Areas (%)</th>
          <th>Combined Total (%)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>In Marine Reserves</td>
          <td>{{HAB_PERC_MR_EXISTING}}</td>
          <td>{{HAB_PERC_MR_NEW}}</td>
          <td>{{HAB_PERC_MR_COMBINED}}</td>
        </tr>
        <tr>
          <td>In Type 2 Protection Areas</td>
          <td>{{HAB_PERC_T2_EXISTING}}</td>
          <td>{{HAB_PERC_T2_NEW}}</td>
          <td>{{HAB_PERC_T2_COMBINED}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="paragraph" style="text-align:left;">
            <p style="margin-left:10px;">This table shows how ‘comprehensive’ the proposed protections are. 
              Proposed and existing plans protect the percentages shown. NOTE: bars go to 30% to improve readability at low values.
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
    {{/d3IsPresent}}
</div>
{{/hasProtection}}
{{#hasAquaculture}}
  <div class="reportSection tableContainer">
    <h4>Aquaculture</h4>
    <table>
      <thead>
        <tr>
          <th style="text-align:center;">Aquaculture Type</th>
          <th>Total area in existing aquaculture (ha)</th>
          <th>Total area in new aquaculture zones (ha)</th>
          <th>Percentage of Gulf in Aquaculture</th>
        </tr>
      </thead>
      <tbody>
        {{#aquacultureSizes}}
          <tr>
            <td>{{AC_TYPE}}</td>
            <td>{{HA_EXST}}</td>
            <td>{{HA_NEW}}</td>
            <td>{{PERCINGULF}}</td>
          </tr>
        {{/aquacultureSizes}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="paragraph" style="text-align:left;">
            <p class="large">
              {{#isCollection}}
              New and existing aquaculture zones are
              {{/isCollection}}
              {{^isCollection}}
              This aquaculture zone is
              {{/isCollection}}
              <strong>{{totalSize}}</strong> hectares.
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  {{#hasProximity}}
  <div class="reportSection tableContainer">
    <h4>Proximity to Existing Aquaculture</h4>
    <table>
      <thead>
        <tr>
          <th>Aquaculture Zone Name</th>
          <th>Distance to Nearest Existing Aquaculture Area</th>
          <th>Potential Effect</th>
        </tr>
      </thead>
      <tbody>
        {{#aquacultureProximity}}
          <tr>
            <td>{{Name}}</td>
            <td>{{DistInM}}</td>
            <td>--</td>
          </tr>
        {{/aquacultureProximity}}
      </tbody>
    </table>
  </div>
  {{/hasProximity}}
  {{^hasProximity}}
  <div class="reportSection">
    <h4>Proximity to Existing Aquaculture</h4>
    <p class="large">
      This zone is <strong>not</strong> within 100 meters of any existing aquaculture areas.
    </p>
  </div>
  {{/hasProximity}}
{{/hasAquaculture}}
