
{{#hasProtectionClasses}}
  <div>
    <p>
      <strong>Representation of Habitats in Marine Protection:</strong>
      The MPA network will protect examples of the full range of natural marine habitats and ecosystems (<a 
      href="http://www.doc.govt.nz/Documents/conservation/marine-and-coastal/marine-protected-areas/mpa-policy-and-implementation-plan.pdf" 
      target="_blank">MPA Policy 2005</a>).
  </p>
  </div>
  <div class="reportSection tableContainer">
    <h4>Habitats Protected in Marine Reserves <a href="#" data-toggle-node="52d5a2089c2d81051200072f" data-visible="false">show layer</a></h4>
    {{#d3IsPresent}}
      <table data-paging="10" class="reserve_hab_table"> 
        <thead>
          <tr>
            <th class="sorting_col" style="width:180px;"><a class="hab_reserve_type sort_up" href="#">Habitats</a></th>
            <th><a  class="hab_reserve_existing sort_down" href="#" >% In Existing Marine Reserves</a></th>
            <th><a class="hab_reserve_new sort_down" href="#">% In New Marine Reserves</a></th>
            <th style="width:50px;"><a class="hab_reserve_total sort_down"  href="#">Total</a></th>
          </tr>
        </thead>
        <tbody class="reserve_values"></tbody>
      </table>
      <p>
          <strong>{{habitatsInReservesCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
          are protected in the Marine Reserves.
      </p>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:180px;">Habitats</th>
            <th>% In Existing Marine Reserves</th>
            <th>% In New Marine Reserves</th>
            <th style="width:50px;">Total</th>
          </tr>
        </thead>
        <tbody>
          {{#habitatsInReserves}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{EX_PERC}}</td>
            <td>{{NEW_PERC}}</td>
            <td>{{CB_PERC}}</td>
          </tr>
          {{/habitatsInReserves}}
          {{^hasReserveData}}
            <tr>
              <td colspan="4" style='text-align:center;'>None</td>
            </tr>
          {{/hasReserveData}}
        </tbody>
        <tfoot>
          <p>
            <strong>{{habitatsInReservesCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
            are protected in the Marine Reserves.
          </p>
        </tfoot>
      </table>
    {{/d3IsPresent}}
  </div>

  <div class="reportSection tableContainer">
    <h4>Habitats Protected in Type-2 Protected Areas <a href="#" data-toggle-node="52d5a2089c2d81051200072f" data-visible="false">show layer</a></h4>
    {{#d3IsPresent}}
        <table data-paging="10" class="type2_hab_table">
          <thead>
            <tr>
              <th class="sorting_col" style="width:180px;"><a class="hab_type2_type sort_up" href="#">Habitats</a></th>
              <th><a  class="hab_type2_existing sort_down" href="#" >% In New Type-2 Protected Areas</a></th>
              <th><a class="hab_type2_new sort_down" href="#">% In Existing Type-2 Protected Areas</a></th>
              <th style="width:50px;"><a class="hab_type2_total sort_down"  href="#">Total</a></th>
            </tr>
          </thead>
          <tbody class="type2_values">
          </tbody>
          <tfoot>
            <p>
              <strong>{{habitatsInTypeTwoCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
              are protected in a Type-2 Protected Area.
            </p>
          </tfoot>
        </table>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:180px;">Habitats</th>
            <th>% In New Type-2 Protected Areas</th>
            <th>% In Existing Type-2 Protected Areas</th>
            <th style="width:50px;">Total</th>
          </tr>
        </thead>
        <tbody>
          {{#habitatsInTypeTwos}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{NEW_PERC}}</td>
            <td>{{EX_PERC}}</td>
            <td>{{CB_PERC}}</td>
          </tr>
          {{/habitatsInTypeTwos}}
          {{^hasTypeTwoData}}
          <tr>
            <td colspan="4" style='text-align:left;'>None</td>
          </tr>
          {{/hasTypeTwoData}}
        </tbody>
        <tfoot>
          <p>
            <strong>{{habitatsInTypeTwoCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
            are protected in a Type-2 Protected Area.
          </p>
        </tfoot>
     </table>
    {{/d3IsPresent}}
  </div>

  {{#hasRepresentationData}}
    <div class="reportSection tableContainer">
      <h4>Habitat Representation <a href="#" data-toggle-node="52d5a2089c2d81051200072f" data-visible="false">show habitat layer</a></h4>
      {{#d3IsPresent}}
        <table data-paging="10" class="hab_rep_table">
          <thead>
            <tr>
              <th class="sorting_col" style="width:145px;"><a class="hab_rep_type sort_up" href="#">Habitats</a></th>
              <th style="width:75px;"><a  class="hab_rep_perc sort_down" href="#" >% of each Habitat Protected</a></th>
              <th style="width:90px;"><a class="hab_rep_num_reserves sort_down" href="#"># of Sites Protected in Marine Reserves</a></th>
              <th style="width:90px;"><a class="hab_rep_num_type2 sort_down"  href="#"># of Sites Protected in Type-2 Protected Areas</a></th>
            </tr>
          </thead>
          <tbody class="hab_rep_values">
          </tbody>
        </table>
      {{/d3IsPresent}}
      {{^d3IsPresent}}
        <table data-paging="10">
          <thead>
            <tr>
              <th>Habitats</th>
              <th>% of each Habitat Protected</th>
              <th>Number of Sites Protected in Marine Reserves</th>
              <th>Number of Sites Protected in Type-2 Protected Areas</th>
            </tr>
          </thead>
          <tbody>
            {{#representationData}}
            <tr>
              <td>{{HAB_TYPE}}</td>
              <td>{{CB_PERC}}</td>
              <td>{{REP_COUNT}}</td>
              <td>{{NEW_SIZE}}</td>
            </tr>
            {{/representationData}}
          </tbody>
        </table>
      {{/d3IsPresent}}
    </div>
  {{/hasRepresentationData}}

  {{#hasProtectionSensitiveAreas}}
    <div class="reportSection tableContainer">
      <h4>Sensitive Habitats</h4>
      {{#d3IsPresent}}
        <table data-paging="10" class="hab_sensitive_prot_table">
          <thead>
            <tr>
              <th class="sorting_col" style="width:175px;"><a class="hab_sensitive_prot_name sort_up" href="#">Name</a></th>
                <th style="width:75px;"><a class="hab_sensitive_prot_type sort_down" href="#" >Type</a></th>
                <th style="width:75px;"><a class="hab_sensitive_prot_ha sort_down" href="#">Hectares Protected</a></th>
                <th style="width:75px;"><a class="hab_sensitive_prot_perc sort_down"  href="#">% of Area Protected</a></th>
            </tr>
          </thead>
          <tbody class="hab_sensitive_prot_values"></tbody>
        </table>
      {{/d3IsPresent}}
      {{^d3IsPresent}}
        <table data-paging="10">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Hectares Protected</th>
              <th>% of Area Protected</th>
            </tr>
          </thead>
          <tbody>
            {{#protectionSensitiveAreas}}
            <tr>
              <td>{{SA_NAME}}</td>
              <td>{{SA_TYPE}}</td>
              <td>{{CLPD_AREA}}</td>
              <td>{{PERC_AREA}}</td>
            </tr>
            {{/protectionSensitiveAreas}}
          </tbody>
        </table>
      {{/d3IsPresent}}
    </div>
  {{/hasProtectionSensitiveAreas}}
  <div class="reportSection" class="tableContainer">
    <h4>Ecosystem Services in Protection Zones</h4>
      <p>
        Percent overlap of the proposed protection areas for three types of Regulating and Supporting Ecosystem Services. Note: Provisioning Services are included in the Fisheries reports. 
        <a href="http://www.aucklandcouncil.govt.nz/SiteCollectionDocuments/aboutcouncil/planspoliciespublications/technicalpublications/tr2010033ecosystemfunctioninggoodsandservicesinthecoastalenvironment.pdf" 
        target="_blank">Read more information on Ecosystem Services</a>
      </p>
      <p>
        <select class="protection-chosen">
          <option class="default-chosen-selection-protection" label="Select an Ecosystem Service"></option>
          {{#protectionEcosystemServices}}
            <option value="{{.}}">{{.}}</option>
          {{/protectionEcosystemServices}}
        </select>
      </p>
    <div class="protection-nutrient-recycling">
      <table>
        <thead>
          <tr>
            <th style="width:200px;">Nutrient Recycling Value</th>
            <th>Area (Ha)</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
        {{#protectionNutrientRecycling}}
          <tr>
            <td>{{Class}}</td>
            <td>{{AreaInHa}}</td>
            <td>{{Percent}}</td>
          </tr>
          {{/protectionNutrientRecycling}}
        </tbody>
      </table>
    </div>
    <div class="protection-biogenic-habitat">
      <table>
        <thead>
          <tr>
            <th style="width:200px;">Biogenic Habitat Value</th>
            <th>Area (Ha)</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
          {{#protectionBiogenicHabitat}}
          <tr>
            <td>{{Class}}</td>
            <td>{{AreaInHa}}</td>
            <td>{{Percent}}</td>
          </tr>
          {{/protectionBiogenicHabitat}}
        </tbody>
      </table>
    </div>
    <div class="protection-ecosystem-productivity">
    <table>
      <thead>
        <tr>
          <th style="width:200px;">Ecosystem Productivity Value</th>
          <th>Area (Ha)</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
      {{#protectionEcosystemProductivity}}
        <tr>
          <td>{{Class}}</td>
          <td>{{AreaInHa}}</td>
          <td>{{Percent}}</td>
        </tr>
        {{/protectionEcosystemProductivity}}
      </tbody>
    </table>
    </div>
  </div>
  {{#hasProtectionProtectedMammals}}
  <div class="reportSection tableContainer">
    <h4>Marine Mammals in Protection Zones</h4>
    <table data-paging="10">
      <thead>
        <tr>
        <th>Top 10 Species Present</th>
        <th>Number of Recorded Sightings</th>
        </tr>
      </thead>
      <tbody>
        {{#protectionProtectedMammals}}
        <tr>
          <td>{{Name}}</td>
          <td>{{Count}}</td>
        </tr>
        {{/protectionProtectedMammals}}
      </tbody>
    </table>
  </div>
  {{/hasProtectionProtectedMammals}}

  {{#hasProtectionSeabirdBreedingSites}}
  <div class="reportSection tableContainer">
    <h4>Seabirds in Protection Zones</h4>
    <table data-paging="10">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Breeding Sites</th>
        </tr>
      </thead>
      <tbody>
        {{#protectionSeabirdBreedingSites}}
        <tr>
          <td>{{Name}}</td>
          <td>{{Count}}</td>
        </tr>
        {{/protectionSeabirdBreedingSites}}
      </tbody>
    </table>
  </div>
  {{/hasProtectionSeabirdBreedingSites}}


  {{#hasProtectionShorebirdSites}}
  <div class="reportSection tableContainer">
    <h4>Shorebird Sites in Protection Zones</h4>
    <table data-paging="10">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Shorebird Sites</th>
        </tr>
      </thead>
      <tbody>
        {{#protectionShorebirdSites}}
        <tr>
          <td>{{Name}}</td>
          <td>{{Count}}</td>
        </tr>
        {{/protectionShorebirdSites}}
      </tbody>
    </table>
  </div>
  {{/hasProtectionShorebirdSites}}


  {{/hasProtectionClasses}}
{{#hasAquacultureClasses}}
  <p>
    The following reports show the proportion of the gulf included in <strong>aquaculture zones</strong>, and the potential
    habitats, ecosystems, and uses impacted by the aquaculture areas.
  </p>
  <div class="reportSection tableContainer">
    <h4>Habitats in Aquaculture Areas</h4>
    {{#d3IsPresent}}
        <table data-paging="10" class="aquaculture_hab_table"> 
        <thead>
          <tr>
            <th class="sorting_col" style="width:180px;"><a class="hab_aquaculture_type sort_up" href="#">Habitats</a></th>
            <th><a class="hab_aquaculture_existing sort_down" href="#" >In Existing Aquaculture Area (ha)</a></th>
            <th><a class="hab_aquaculture_existing_perc sort_down" href="#" >% In Existing Aquaculture Area</a></th>
            <th><a class="hab_aquaculture_new sort_down" href="#">In New Aquaculture Area (ha)</a></th>
            <th><a class="hab_aquaculture_new_perc sort_down" href="#">% In New Aquaculture Areas</a></th>
          </tr>
        </thead>
        <tbody class="aquaculture_values"></tbody>
      </table>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10"> <!-- data-paging... activates paging  -->
        <thead>
          <tr>
            <th style="width:180px;">Habitats</th>
            <th>In Existing Aquaculture Area (ha)</th>
            <th>% In Existing Aquaculture Areas</th>
            <th>In New Aquaculture Area (ha)</th>
            <th>% In New Aquaculture Areas</th>
          </tr>
        </thead>
        <tbody>
          {{#aquacultureHabitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{EX_SIZE}}</td>
            <td>{{EX_PERC}}</td>        
            <td>{{NEW_SIZE}}</td>
            <td>{{NEW_PERC}}</td>
          </tr>
          {{/aquacultureHabitats}}
        </tbody>
        <tfoot>
          <p>
            <strong>{{habitatsInAquacultureZones}}</strong> of <strong>{{habitatsCount}}</strong> habitats
            are located inside new and existing aquaculture areas.
          </p>
        </tfoot>
      </table>
    {{/d3IsPresent}}
  </div>


  {{#hasAquacultureSensitiveAreas}}
   <div class="reportSection tableContainer">
      <h4>Sensitive Habitats</h4>
      {{#d3IsPresent}}
        <table data-paging="10" class="hab_sensitive_aq_table">
          <thead>
            <tr>
              <th class="sorting_col" style="width:175px;"><a class="hab_sensitive_aq_name sort_up" href="#">Name</a></th>
                <th style="width:75px;"><a class="hab_sensitive_aq_type sort_down" href="#" >Type</a></th>
                <th style="width:75px;"><a class="hab_sensitive_aq_ha sort_down" href="#">Hectares Protected</a></th>
                <th style="width:75px;"><a class="hab_sensitive_aq_perc sort_down"  href="#">% of Area Protected</a></th>
            </tr>
          </thead>
          <tbody class="hab_sensitive_aq_values"></tbody>
        </table>
      {{/d3IsPresent}}
      {{^d3IsPresent}}
        <table data-paging="10">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Hectares Protected</th>
              <th>% of Area Protected</th>
            </tr>
          </thead>
          <tbody>
            {{#aquacultureSensitiveAreas}}
            <tr>
              <td>{{SA_NAME}}</td>
              <td>{{SA_TYPE}}</td>
              <td>{{CLPD_AREA}}</td>
              <td>{{PERC_AREA}}</td>
            </tr>
            {{/aquacultureSensitiveAreas}}
          </tbody>
        </table>
      {{/d3IsPresent}}
    </div>
  {{/hasAquacultureSensitiveAreas}}
  <div class="reportSection" class="tableContainer">
    <h4>Ecosystem Services in Aquaculture Zones</h4>
      <p>
        Percent overlap of the proposed aquaculture areas for three types of ecosystem services.
      </p>
      <p>
        <select class="aquaculture-chosen">
          <option class="default-chosen-selection-aquaculture" label="Select an Ecosystem Service"></option>
          {{#aquacultureEcosystemServices}}
            <option value="{{.}}">{{.}}</option>
          {{/aquacultureEcosystemServices}}
        </select>
      </p>
    <div class="aquaculture-nutrient-recycling">
      <table>
        <thead>
          <tr>
            <th style="width:200px;">Nutrient Recycling Value</th>
            <th>Area (Ha)</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
        {{#aquacultureNutrientRecycling}}
          <tr>
            <td>{{Class}}</td>
            <td>{{AreaInHa}}</td>
            <td>{{Percent}}</td>
          </tr>
          {{/aquacultureNutrientRecycling}}
        </tbody>
      </table>
    </div>
    <div class="aquaculture-biogenic-habitat">
      <table>
        <thead>
          <tr>
            <th style="width:200px;">Biogenic Habitat Value</th>
            <th>Area (Ha)</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
          {{#aquacultureBiogenicHabitat}}
          <tr>
            <td>{{Class}}</td>
            <td>{{AreaInHa}}</td>
            <td>{{Percent}}</td>
          </tr>
          {{/aquacultureBiogenicHabitat}}
        </tbody>
      </table>
    </div>
    <div class="aquaculture-ecosystem-productivity">
    <table>
      <thead>
        <tr>
          <th style="width:200px;">Ecosystem Productivity Value</th>
          <th>Area (Ha)</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
      {{#aquacultureEcosystemProductivity}}
        <tr>
          <td>{{Class}}</td>
          <td>{{AreaInHa}}</td>
          <td>{{Percent}}</td>
        </tr>
        {{/aquacultureEcosystemProductivity}}
      </tbody>
    </table>
    </div>
  </div>
  {{#hasAquacultureProtectedMammals}}
    <div class="reportSection tableContainer">
      <h4>Marine Mammals in Aquaculture Zones</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th>Top 10 Species Present</th>
            <th>Number of Recorded Sightings</th>
          </tr>
        </thead>
        <tbody>
          {{#aquacultureProtectedMammals}}
          <tr>
            <td>{{Name}}</td>
            <td>{{Count}}</td>
          </tr>
          {{/aquacultureProtectedMammals}}
        </tbody>
      </table>
    </div>
  {{/hasAquacultureProtectedMammals}}

  {{#hasAquacultureSeabirdBreedingSites}}
    <div class="reportSection tableContainer">

      <h4>Seabirds in Aquaculture Zones</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Breeding Sites</th>
          </tr>
        </thead>
        <tbody>
          {{#aquacultureSeabirdBreedingSites}}
          <tr>
            <td>{{Name}}</td>
            <td>{{Count}}</td>
          </tr>
          {{/aquacultureSeabirdBreedingSites}}
        </tbody>
      </table>
    </div>
  {{/hasAquacultureSeabirdBreedingSites}}


  {{#hasAquacultureShorebirdSites}}
    <div class="reportSection tableContainer">
      <h4>Shorebird Sites in Aquaculture Zones</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Shorebird Sites</th>
          </tr>
        </thead>
        <tbody>
          {{#aquacultureShorebirdSites}}
          <tr>
            <td>{{Name}}</td>
            <td>{{Count}}</td>
          </tr>
          {{/aquacultureShorebirdSites}}
        </tbody>
      </table>
    </div>
  {{/hasAquacultureShorebirdSites}}



  {{#isCloseToProtectedAreas}}
  <div class="reportSection tableContainer">
    <h4>Proximity to Existing Protected Areas</h4>
    <table>
      <thead>
        <tr>
          <th>Aquaculture Zone Name</th>
          <th>Type of Protected Area Impacted</th>
          <th>Likelihood of Impact</th>
        </tr>
      </thead>
      <tbody>
        {{#proximityToProtectedAreas}}
          <tr>
            <td>{{ZoneName}}</td>
            <td>{{NEAR_TYPE}}</td>
            <td>{{THRESHOLD}}</td>
          </tr>
        {{/proximityToProtectedAreas}}
      </tbody>
    </table>
  </div>
  {{/isCloseToProtectedAreas}}

  {{^isCloseToProtectedAreas}}
  <div class="reportSection">
    <h4>Proximity to Existing Protected Areas</h4>
    <p class="large">
      This zone is <strong>not</strong> within 1 kilometer of any existing protected areas.
    </p>
  </div>
  {{/isCloseToProtectedAreas}}
{{/hasAquacultureClasses}}


