{{#isCollection}}
<p>
  The collection of marine protected areas will protect the full range of 
  natural marine habitats and ecosystems. These reports show the proportion 
  of the gulf protected for each habitat type in Marine Reserves and Type-2 
  Protected Areas, for both existing protected areas and sketches.
</p>
{{/isCollection}}

{{#hasReserveData}}
<div class="reportSection tableContainer">
  <h4>Habitats Protected in Marine Reserves</h4>
  <table data-paging="10"> <!-- data-paging... activates paging  -->
    <thead>
      <tr>
        <th style="width:180px;">Habitats</th>
        <th>% In New Marine Reserves</th>
        <th>% In Existing Marine Reserves</th>
        <th style="width:50px;">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#habitatsInReserves}}
      <tr>
        <td>{{HAB_TYPE}}</td>
        <td>{{NEW_PERC}}</td>
        <td>{{EX_PERC}}</td>
        <td>{{CB_PERC}}</td>

      </tr>
      {{/habitatsInReserves}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="paragraph" style="text-align:left;">
          <p class="large">
            {{#isCollection}}
            Marine Reserves protect
            {{/isCollection}}
            {{^isCollection}}
            This Marine Reserve protects
            {{/isCollection}}
            <strong>{{habitatsInReservesCount}}</strong>
            of <strong>{{habitatsCount}}</strong> habitat types.
          </p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
{{/hasReserveData}}

{{#hasTypeTwoData}}
<div class="reportSection tableContainer">
  <h4>Habitats Protected in Type-2 Protected Areas</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th style="width:180px;">Habitats</th>
        <th>% In New Type-2 Protected Areas</th>
        <th>% In Existing Type-2 Protected Areas</th>
        <th style="width:50px;">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#habitatsInTypeTwos}}
      <tr>
        <td>{{HAB_TYPE}}</td>
        <td>{{NEW_PERC}}</td>
        <td>{{EX_PERC}}</td>
        <td>{{CB_PERC}}</td>
      </tr>
      {{/habitatsInTypeTwos}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="paragraph" style="text-align:left;">
          <p class="large">
            {{#isCollection}}
            Type-2 Reserves protect 
            {{/isCollection}}
            {{^isCollection}}
            This Type-2 Protected Area protects
            {{/isCollection}}
            <strong>{{habitatsInTypeTwoCount}}</strong>
            of <strong>{{habitatsCount}}</strong> habitat types.
          </p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
{{/hasTypeTwoData}}

<!-- 
PDF says for both zones and collections. 
I just included collections for now  
-->
{{#hasRepresentationData}}
<div class="reportSection tableContainer">
  <h4>Habitat Representation</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Habitats</th>
        <th>Total HA Protected in All Areas</th>
        <th>Total % in All Areas</th>
        <th>Number of Sites Protected</th>
        <th>Adequately Represented?</th>
      </tr>
    </thead>
    <tbody>
      {{#representationData}}
      <tr>
        <td>{{HAB_TYPE}}</td>
        <td>{{CB_SIZE}}</td>
        <td>{{CB_PERC}}</td>
        <td>{{REP_COUNT}}</td>
        <td>??</td>
      </tr>
      {{/representationData}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="paragraph" style="text-align:left;">
          <p class="large">

            <strong>{{representedCount}}</strong>
            of <strong>{{habitatsCount}}</strong> habitats are adequately 
            protected.
          </p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
{{/hasRepresentationData}}

{{#hasSensitiveAreas}}
<div class="reportSection tableContainer">
  <h4>Sensitive Habitats</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Hectares Protected</th>
        <th>Percent of Area Protected</th>
      </tr>
    </thead>
    <tbody>
      {{#sensitiveAreas}}
      <tr>
        <td>{{SA_NAME}}</td>
        <td>{{SA_TYPE}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/sensitiveAreas}}
    </tbody>
  </table>
</div>
{{/hasSensitiveAreas}}

{{#hasProtectedMammals}}
<div class="reportSection tableContainer">
  <h4>Protected Mammals</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Number of Overlapping Areas</th>
      </tr>
    </thead>
    <tbody>
      {{#protectedMammals}}
      <tr>
        <td>{{Name}}</td>
        <td>--</td>
        <td>{{Count}}</td>
      </tr>
      {{/protectedMammals}}
    </tbody>
  </table>
</div>
{{/hasProtectedMammals}}

{{#hasSeabirdBreedingSites}}
<div class="reportSection tableContainer">
  <h4>Seabirds</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Number of Breeding Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#seabirdBreedingSites}}
      <tr>
        <td>{{Name}}</td>
        <td>--</td>
        <td>{{Count}}</td>
      </tr>
      {{/seabirdBreedingSites}}
    </tbody>
  </table>
</div>
{{/hasSeabirdBreedingSites}}


{{#hasShorebirdSites}}
<div class="reportSection tableContainer">
  <h4>Seabirds</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Number of Shorebird Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#shorebirdSites}}
      <tr>
        <td>{{Name}}</td>
        <td>--</td>
        <td>{{Count}}</td>
      </tr>
      {{/shorebirdSites}}
    </tbody>
  </table>
</div>
{{/hasShorebirdSites}}

{{^isCollection}}
{{#adjacentProtectedAreas}}
<div class="reportSection">
  <h4>Adjacent Terrestrial Protected Area</h4>
  <p class="large green-check">
    This zone is adjacent to a <strong>Terrestrial Protected Area</strong>.
  </p>
</div>
{{/adjacentProtectedAreas}}
{{/isCollection}}


<div class="reportSection tableContainer">
  <h4>Nutrient Recycling</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Value</th>
        <th>Area in Hectares</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
    {{#nutrientRecycling}}
      <tr>
        <td>{{Class}}</td>
        <td>{{AreaInHa}}</td>
        <td>{{Percent}}</td>
      </tr>
      {{/nutrientRecycling}}
    </tbody>
  </table>
</div>



<div class="reportSection tableContainer">
  <h4>Biogenic Habitat</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Value</th>
        <th>Area in Hectares</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
      {{#biogenicHabitat}}
      <tr>
        <td>{{Class}}</td>
        <td>{{AreaInHa}}</td>
        <td>{{Percent}}</td>
      </tr>
      {{/biogenicHabitat}}
    </tbody>
  </table>
</div>



<div class="reportSection tableContainer">
  <h4>Ecosystem Productivity</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Value</th>
        <th>Area in Hectares</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
    {{#ecosystemProductivity}}
      <tr>
        <td>{{Class}}</td>
        <td>{{AreaInHa}}</td>
        <td>{{Percent}}</td>
      </tr>
      {{/ecosystemProductivity}}
    </tbody>
  </table>
</div>



