
<div>
  <p>
    <strong>Representation of Habitats in Marine Protection:</strong>
    The MPA network will protect examples of the full range of natural marine habitats and ecosystems (<a 
    href="http://www.doc.govt.nz/Documents/conservation/marine-and-coastal/marine-protected-areas/mpa-policy-and-implementation-plan.pdf" 
    target="_blank">MPA Policy 2005</a>).
  </p>
</div>
{{#d3IsPresent}}
<div class="reportSection tableContainer" id="test_habs_marine">
  <h4>Habitats Protected in Marine Reserves</h4>
  <table data-paging="10" class="reserve_hab_table"> 
    <thead>
      <tr>
        <th class="sorting_col" style="width:180px;"><a class="hab_reserve_type sort_up" href="#">Habitats</a></th>
        <th><a  class="hab_reserve_existing sort_down" href="#" >% In Existing Marine Reserves</a></th>
        <th><a class="hab_reserve_new sort_down" href="#">% In New Marine Reserves</a></th>
        <th style="width:50px;"><a class="hab_reserve_total sort_down"  href="#">Total</a></th>
      </tr>
    </thead>
    <tbody class="reserve_values"></tbody>
      <p>
        <strong>{{habitatsInReservesCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
        are protected in the Marine Reserves.
      </p>
  </table>
</div>
{{/d3IsPresent}}
{{^d3IsPresent}}
<div class="reportSection tableContainer">
  <h4>Habitats Protected in Marine Reserves</h4>
  <table data-paging="10"> <!-- data-paging... activates paging  -->
    <thead>
      <tr>
        <th style="width:180px;">Habitats</th>
        <th>% In Existing Marine Reserves</th>
        <th>% In New Marine Reserves</th>
        <th style="width:50px;">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#habitatsInReserves}}
      <tr>
        <td>{{HAB_TYPE}}</td>
        <td>{{EX_PERC}}</td>
        <td>{{NEW_PERC}}</td>
        <td>{{CB_PERC}}</td>
      </tr>
      {{/habitatsInReserves}}
      {{^hasReserveData}}
        <tr>
          <td colspan="4" style='text-align:center;'>None</td>
        </tr>
      {{/hasReserveData}}
    </tbody>
    <tfoot>
      <p>
        <strong>{{habitatsInReservesCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
        are protected in the Marine Reserves.
      </p>
    </tfoot>
  </table>
</div>
{{/d3IsPresent}}
{{#d3IsPresent}}
  <div class="reportSection tableContainer">
    <h4>Habitats Protected in Type-2 Protected Areas</h4>
    <table data-paging="10" class="type2_hab_table">
      <thead>
        <tr>
          <th class="sorting_col" style="width:180px;"><a class="hab_type2_type sort_up" href="#">Habitats</a></th>
          <th><a  class="hab_type2_existing sort_down" href="#" >% In New Type-2 Protected Areas</a></th>
          <th><a class="hab_type2_new sort_down" href="#">% In Existing Type-2 Protected Areas</a></th>
          <th style="width:50px;"><a class="hab_type2_total sort_down"  href="#">Total</a></th>
        </tr>
      </thead>
      <tbody class="type2_values">
      </tbody>
      <tfoot>
        <p>
          <strong>{{habitatsInTypeTwoCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
          are protected in a Type-2 Protected Area.
        </p>
      </tfoot>
    </table>
  </div>
{{/d3IsPresent}}
{{^d3IsPresent}}
<div class="reportSection tableContainer">
  <h4>Habitats Protected in Type-2 Protected Areas</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th style="width:180px;">Habitats</th>
        <th>% In New Type-2 Protected Areas</th>
        <th>% In Existing Type-2 Protected Areas</th>
        <th style="width:50px;">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#habitatsInTypeTwos}}
      <tr>
        <td>{{HAB_TYPE}}</td>
        <td>{{NEW_PERC}}</td>
        <td>{{EX_PERC}}</td>
        <td>{{CB_PERC}}</td>
      </tr>
      {{/habitatsInTypeTwos}}
      {{^hasTypeTwoData}}
      <tr>
        <td colspan="4" style='text-align:left;'>None</td>
      </tr>
      {{/hasTypeTwoData}}
    </tbody>
    <tfoot>
      <p>
        <strong>{{habitatsInTypeTwoCount}}</strong> of <strong>{{habitatsCount}}</strong> habitats
        are protected in a Type-2 Protected Area.
      </p>
    </tfoot>
  </table>
</div>
{{/d3IsPresent}}
{{#hasRepresentationData}}
<div class="reportSection tableContainer">
  <h4>Habitat Representation</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Habitats</th>
        <th>% of each Habitat Protected</th>
        <th>Number of Sites Protected in Marine Reserves</th>
        <th>Number of Sites Protected in Type-2 Protected Areas</th>
      </tr>
    </thead>
    <tbody>
      {{#representationData}}
      <tr>
        <td>{{HAB_TYPE}}</td>
        <td>{{CB_PERC}}</td>
        <td>{{REP_COUNT}}</td>
        <td>{{NEW_SIZE}}</td>
      </tr>
      {{/representationData}}
    </tbody>
  </table>
</div>
{{/hasRepresentationData}}
{{#hasSensitiveAreas}}
<div class="reportSection tableContainer">
  <h4>Sensitive Habitats</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Hectares Protected</th>
        <th>Percent of Area Protected</th>
      </tr>
    </thead>
    <tbody>
      {{#sensitiveAreas}}
      <tr>
        <td>{{SA_NAME}}</td>
        <td>{{SA_TYPE}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/sensitiveAreas}}
    </tbody>
  </table>
</div>
{{/hasSensitiveAreas}}

{{#hasProtectedMammals}}
<div class="reportSection tableContainer">
  <h4>Marine Mammals</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Top 10 Species Present</th>
        <th>Number of Recorded Sightings</th>
      </tr>
    </thead>
    <tbody>
      {{#protectedMammals}}
      <tr>
        <td>{{Name}}</td>
        <td>{{Count}}</td>
      </tr>
      {{/protectedMammals}}
    </tbody>
  </table>
</div>
{{/hasProtectedMammals}}

{{#hasSeabirdBreedingSites}}
<div class="reportSection tableContainer">

  <h4>Seabirds</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Breeding Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#seabirdBreedingSites}}
      <tr>
        <td>{{Name}}</td>
        <td>{{Count}}</td>
      </tr>
      {{/seabirdBreedingSites}}
    </tbody>
  </table>
</div>
{{/hasSeabirdBreedingSites}}


{{#hasShorebirdSites}}
<div class="reportSection tableContainer">
  <h4>Shorebird Sites</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Shorebird Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#shorebirdSites}}
      <tr>
        <td>{{Name}}</td>
        <td>{{Count}}</td>
      </tr>
      {{/shorebirdSites}}
    </tbody>
  </table>
</div>
{{/hasShorebirdSites}}

{{#adjacentProtectedAreas}}
<div class="reportSection">
  <h4>Adjacent Terrestrial Protected Area</h4>
  <p class="large green-check">
    This zone is adjacent to a <strong>Terrestrial Protected Area</strong>.
  </p>
</div>
{{/adjacentProtectedAreas}}

<div class="reportSection" class="tableContainer">
  <h4>Ecosystem Services</h4>
    <p>
      Percent overlap of the proposed protection areas for three types of Regulating and Supporting Ecosystem Services. Note: Provisioning Services are included in the Fisheries reports. 
      <a href="http://www.aucklandcouncil.govt.nz/SiteCollectionDocuments/aboutcouncil/planspoliciespublications/technicalpublications/tr2010033ecosystemfunctioninggoodsandservicesinthecoastalenvironment.pdf" 
      target="_blank">Read more information on Ecosystem Services</a>
    </p>
    <p>
      <select class="chosen">
        {{#ecosystemServices}}
        <option value="{{.}}">{{.}}</option>
        {{/ecosystemServices}}
      </select>
    </p>
  <div class="protection-nutrient-recycling">
    <table>
      <thead>
        <tr>
          <th style="width:200px;">Nutrient Recycling Value</th>
          <th>Area (Ha)</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
      {{#nutrientRecycling}}
        <tr>
          <td>{{Class}}</td>
          <td>{{AreaInHa}}</td>
          <td>{{Percent}}</td>
        </tr>
        {{/nutrientRecycling}}
      </tbody>
    </table>
  </div>
  <div class="protection-biogenic-habitat">
    <table>
      <thead>
        <tr>
          <th style="width:200px;">Biogenic Habitat Value</th>
          <th>Area (Ha)</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
        {{#biogenicHabitat}}
        <tr>
          <td>{{Class}}</td>
          <td>{{AreaInHa}}</td>
          <td>{{Percent}}</td>
        </tr>
        {{/biogenicHabitat}}
      </tbody>
    </table>
  </div>
  <div class="protection-ecosystem-productivity">
  <table>
    <thead>
      <tr>
        <th style="width:200px;">Ecosystem Productivity Value</th>
        <th>Area (Ha)</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
    {{#ecosystemProductivity}}
      <tr>
        <td>{{Class}}</td>
        <td>{{AreaInHa}}</td>
        <td>{{Percent}}</td>
      </tr>
      {{/ecosystemProductivity}}
    </tbody>
  </table>
  </div>
</div>



