{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}} -- DRAFT REPORT</h4>
  {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}
{{#isCollection}}
  <div class="reportSection size">
    <h4>MPA Sizes</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th>MPA Name</th>
            <th>Area </br>(sq. km.)</th>
            <th style="width:100px;">Width (km)<sup>*</sup></th>
            <th style="width:100px;">Coastline Length (km)</th>
          </tr>
        </thead>
        <tbody>
          {{#prop_sizes}}
          <tr class={{CSS_CLASS}}>
            <td>{{NAME}}</td>
            <td>{{SIZE_SQKM}}</td>
            <td>{{MIN_DIM}}</td>
            <td>{{COAST}}</td>
          </tr>
          {{/prop_sizes}}
        </tbody>
      </table>
    <p class="large">
      This combined area within the network accounts for <strong>{{area_percent}}%</strong> of the Hauraki Gulf area, and <strong>{{coastline_length_percent}}%</strong> of the Hauraki Gulf coastline.
    </p>
    <p>
      <i><sup>*</sup>Rule of thumb: Square or circular shapes of MPAs help maintain the integrity of the protected area as  they limit adult spillover and facilitate compliance.
      </i>
    </p>
  </div>

{{/isCollection}}
{{^isCollection}}
    <div class="reportSection size">
      <h4>MPA Size</h4>
        <table data-paging="10">
          <thead>
            <tr>
              <th>MPA Name</th>
              <th>Area </br>(sq. km.)</th>
              <th style="width:100px;">Width (km)</th>
              <th style="width:100px;">Coastline Length (km)</th>
            </tr>
          </thead>
          <tbody>
            {{#prop_sizes}}
            <tr>
              <td>{{NAME}}</td>
              <td>{{SIZE_SQKM}}</td>
              <td>{{MIN_DIM}}</td>
              <td>{{COAST}}
            </tr>
            {{/prop_sizes}}
          </tbody>
        </table>
      <p class="large">
        This area within the MPA accounts for <strong>{{area_percent}}%</strong> of the Hauraki Gulf area, and <strong>{{coastline_length_percent}}%</strong> of the Hauraki Gulf coastline.
      </p>
      <p>
        <span class="rule-of-thumb"></span>
        <span>Square or circular shapes of MPAs help maintain the integrity of the protected area as  they limit adult spillover and facilitate compliance.</span>
        
      </p>
    </div>



{{/isCollection}}

{{#hasWarnings}}
<div class="reportSection size">
  <h4>Warning <a href="#" data-toggle-node="52d5afebc03e516417000321" data-visible="false">show layer</a></h4>
    <p class="large yellow-warn" style="padding-left:50px;padding-right:20px;">
      This sketch is placed over {{warnings}}. These areas are unlikely to be consistent with a marine reserve.
    </p>
</div>
{{/hasWarnings}}
  {{#d3IsPresent}}
    <div class="reportSection tableContainer">
      <h4>Representation of Physical Habitats</h4>
      <p class="large" style="margin-left:10px;padding-bottom:0px;margin-bottom:0px;"><strong>Number of Habitats</strong></p>
      <p class="large" style="margin-left:10px;">
        There are <strong>47</strong> physical habitats in the planning region, and your sketch includes <strong>{{NUM_HABS}}</strong>. For more information on the habitats found in the Hauraki Gulf please see the <a target="_blank" href="http://ec2-54-252-228-85.ap-southeast-2.compute.amazonaws.com/metadata/haurakigulf/HGMSP_habitats_classification.html">layer description</a>.
      </p>
      {{^is_water_quality_zone}}
        {{#isMarineReserve}}
          <div class="large-header">Habitats Present in <strong> Marine Reserves</strong>:</div>
          <div class="viz" style="position:relative;"></div>
          <div class="large-header">Percent of Hauraki Gulf Protected in <strong>Marine Reserves</strong>:</div>
          <div class="vizPerc" style="position:relative;"></div>
        {{/isMarineReserve}}
        {{#isType2}}
          <div class="large-header">Habitats Present in <strong>Type-2 Protection Areas</strong>:</div>
          <div class="viz" style="position:relative;"></div>
          <div class="large-header">Percent of Hauraki Gulf Protected in <strong>Type-2 Protection Areas</strong>:</div>
          <div class="vizPerc" style="position:relative;"></div>
        {{/isType2}}
        <p class="large" style="margin-left:10px;">
          The graphs show the number, and relative area, of physical habitats that are currently protected by {{#isMarineReserve}}Marine Reserves{{/isMarineReserve}}{{#isType2}}Type-2 Protection Areas{{/isType2}} within the Hauraki Gulf (in light green) and the number of additional habitat types that would be protected by your Sketch (in dark green). The number of habitats that are not represented at all in {{#isMarineReserve}}Marine Reserves{{/isMarineReserve}}{{#isType2}}Type-2 Protection Areas{{/isType2}} are shown in red.
        </p>
        {{/is_water_quality_zone}}
    </div>
  {{/d3IsPresent}}
  
  {{^d3IsPresent}}
    {{#is_water_quality_zone}}
    <!-- if no d3 and this is the new habitat protection zone -->
      <div class="reportSection tableContainer">
        <h4>Representation of Physical Habitats</h4>
        <p class="large" style="margin-left:10px;padding-bottom:0px;margin-bottom:0px;"><strong>Number of Habitats</strong></p>
        <p class="large" style="margin-left:10px;">
          There are <strong>47</strong> physical habitats in the planning region, and your sketch includes <strong>{{NUM_HABS}}</strong>. For more information on the habitats found in the Hauraki Gulf please see the <a target="_blank" href="http://ec2-54-252-228-85.ap-southeast-2.compute.amazonaws.com/metadata/haurakigulf/HGMSP_habitats_classification.html">layer description</a>.
        </p>
      </div>
    {{/is_water_quality_zone}}
    {{^is_water_quality_zone}}
      <div class="reportSection tableContainer">
      <h4>Representation of Physical Habitats</h4>
      <table data-paging="10"> <!-- data-paging... activates paging  -->
        <thead>
          <tr>
            <th style="width:180px;"></th>
            <th>Existing Protected Areas</th>
            <th>Proposed Areas</th>
            <th>Combined Total</th>
          </tr>
        </thead>
        <tbody>
          {{#isMarineReserve}}
            <tr>
              <td>Number of Habitats Protected in Marine Reserves</td>
              <td>{{HAB_COUNT_EXISTING}}</td>
              <td>{{HAB_COUNT_PROPOSED}}</td>
              <td>{{HAB_COUNT_COMBINED}}</td>
            </tr>
          {{/isMarineReserve}}
          {{#isType2}}
            <tr>
              <td>Number of Habitats Protected in Type 2 Protection Areas</td>
              <td>{{HAB_COUNT_EXISTING_T2}}</td>
              <td>{{HAB_COUNT_PROPOSED_T2}}</td>
              <td>{{HAB_COUNT_COMBINED_T2}}</td>
            </tr>
          {{/isType2}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="paragraph" style="text-align:left;">
              <p style="margin-left:10px;">
                There are a total of <strong>47</strong> physical habitats in the study area. The light green shows the number of habitats currently found within existing {{#isMarineReserve}}Marine Reserves{{/isMarineReserve}}{{#isType2}}Type-2 Protection Areas{{/isType2}}, and the dark green the number of additional habitat types that would be added. The red shows the number of habitats that are not yet represented.
              </p>
            </td>
          </tr>
        </tfoot>
      </table>
      </div>
      {{/is_water_quality_zone}}
    {{/d3IsPresent}}
  
