{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
<div class="reportSection size">
  <h4>Size</h4>
  <p class="large {{#SIZE_OK}}green-check{{/SIZE_OK}}">
    This protected area is <strong>{{SIZE}} ha</strong>,
    {{#SIZE_OK}}
    meeting the guideline of {{MIN_SIZE}} ha.
    {{/SIZE_OK}}
    {{^SIZE_OK}}
    which does not meet the guideline of {{MIN_SIZE}} ha.
    {{/SIZE_OK}}
  </p>
    <div>
      <p class="large">
        Read more information on <a href="http://www.doc.govt.nz/publications/conservation/marine-and-coastal/marine-protected-areas/marine-protected-areas-classification-protection-standard-and-implementation-guidelines" target="_blank"> the Marine Protected Area Policy and Implementation Guidelines.</a> In general, for the same amount of area to be protected, it is desirable to protect fewer, larger areas rather than numerous smaller ones.
      </p>
    </div>
</div>
{{#hasWarnings}}
<div class="reportSection size">
  <h4>Warning <a href="#" data-toggle-node="52d5afebc03e516417000321" data-visible="false">show layer</a></h4>
    <p class="large yellow-warn" style="padding-left:50px;padding-right:20px;">
      This sketch is placed over {{warnings}}. These areas are unlikely to be consistent with a marine protected area.
    </p>
</div>
{{/hasWarnings}}

  {{#d3IsPresent}}
    <div class="reportSection tableContainer">
      <h4>Representation of Habitats</h4>
      <div class="large-header">Habitats Protected in <strong>Marine Reserves</strong>:</div>
      <div class="viz" style="position:relative;"></div>
      <div class="large-header">Habitats Protected in <strong>Type-2 Protected Areas</strong>:</div>
      <div class="viz" style="position:relative;"></div>
      <div class="large-in-report">
        Of the <strong>62</strong> habitats present in the project area, <strong>{{HAB_COUNT_COMBINED}}</strong> of the habitats are afforded
        protection in a marine reserve and <strong>{{HAB_COUNT_COMBINED_T2}}</strong> are protected in a Type II Marine Protected Area.
      </div>
    </div>
  {{/d3IsPresent}}
  {{^d3IsPresent}}
    <div class="reportSection tableContainer">
    <h4>Representation of Habitats</h4>
    <table data-paging="10"> <!-- data-paging... activates paging  -->
      <thead>
        <tr>
          <th style="width:180px;"></th>
          <th>Existing Protected Areas</th>
          <th>Proposed Areas</th>
          <th>Combined Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Habitats Protected in Marine Reserves</td>
          <td>{{HAB_COUNT_EXISTING}}</td>
          <td>{{HAB_COUNT_PROPOSED}}</td>
          <td>{{HAB_COUNT_COMBINED}}</td>
        </tr>
        <tr>
          <td>Number of Habitats Protected in Type 2 Protected Areas</td>
          <td>{{HAB_COUNT_EXISTING_T2}}</td>
          <td>{{HAB_COUNT_PROPOSED_T2}}</td>
          <td>{{HAB_COUNT_COMBINED_T2}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="paragraph" style="text-align:left;">
            <p class="large">
              Of the <strong>62</strong> habitats present in the project area, <strong>{{HAB_COUNT_COMBINED}}</strong> of the habitats are afforded
              protection in a marine reserve and <strong>{{HAB_COUNT_COMBINED_T2}}</strong> are protected in a Type II Marine Protected Area.
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
    </div>
  {{/d3IsPresent}}
  <div class="reportSection tableContainer">
    <h4>Percent of Hauraki Gulf Marine Park Protected</h4>
    {{#d3IsPresent}}
      <div class="large-header">Percent of Hauraki Gulf Protected in <strong>Marine Reserves</strong>:</div>
      <div class="viz" style="position:relative;"></div>
      <div class="large-header">Percent of Hauraki Gulf Protected in <strong>Type-2 Protected Areas</strong>:</div>
      <div class="viz" style="position:relative;"></div>
      <div class="large-in-report">This table shows how ‘comprehensive’ the proposed protections are. 
        Proposed and existing plans protect the percentages shown. NOTE: bars go to 30% to improve readability at low values.
      </div>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
    <table data-paging="10"> <!-- data-paging... activates paging  -->
      <thead>
        <tr>
          <th style="width:180px;"></th>
          <th>Existing Protected Areas (%)</th>
          <th>Proposed Areas (%)</th>
          <th>Combined Total (%)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>In Marine Reserves</td>
          <td>{{HAB_PERC_MR_EXISTING}}</td>
          <td>{{HAB_PERC_MR_NEW}}</td>
          <td>{{HAB_PERC_MR_COMBINED}}</td>
        </tr>
        <tr>
          <td>In Type 2 Protection Areas</td>
          <td>{{HAB_PERC_T2_EXISTING}}</td>
          <td>{{HAB_PERC_T2_NEW}}</td>
          <td>{{HAB_PERC_T2_COMBINED}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="paragraph" style="text-align:left;">
            <p class="large-in-report">This table shows how ‘comprehensive’ the proposed protections are. 
              Proposed and existing plans protect the percentages shown. NOTE: bars go to 30% to improve readability at low values.
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
    {{/d3IsPresent}}
</div>

<!-- 
I'm leaving these items commented out because they seem hard to implement
and duplicative. It's also not clear how they would look at the zone-level.

<div class="reportSection representation">
  <h4>Representation of Habitats</h4>
  <p>The proposed protection areas and existing reserves protect a sample of the following number of habitats:</p>
</div>

<div class="reportSection percent">
  <h4>Percent of Hauraki Gulf Marine Park Protected</h4>
  <p>The graph belows shows how ‘comprehensive’ the proposed protection is. The proposed plan includes the following protection types:</p>
</div>
 -->

{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}} Attributes</h4>
  {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}